<%- include('headFoot/header') %>
<div class="centerInfo">
  <br>
  <br>
<h1>Info on WikiRacer</h1>

  Here you will find information on WikiRacing and how this site incorporates WikiRacing.

<h2>What is WikiRacing?</h2>

  WikiRacing is the act of going from one Wikipedia article to another, using only hyperlinks found on the Wikipedia article, in as few hyperlinks as possible.

<h2>What is this site's version of WikiRacing?</h2>

<h2>What is 2Pages?</h2>


</div>
<%- include('headFoot/footer') %>
