<%- include('headFoot/header') %>

Unforunately, something has gone wrong.

Refresh the page or click here to try again.<br>
<% if (gameType === 'wikiRacer'){ %>
    <a href='/wikiRacer/game' class='btn btn-dark'> Refresh </a>
<% } else if (gameType === '2pages') {%>
  <a href='/2pages/game' class='btn btn-dark'> Refresh </a>
<% } %>

<%- include('headFoot/footer') %>
