<%- include('headFoot/header') %>

<h1> Welcome to WikiRacer! </h1>

<a class="btn btn-info" href="/description">What is WikiRacing?</a>
<a class="btn btn-info" href="/wikiracer">Play WikiRacer</a>
<a class="btn btn-info" href="/2pages">Play 2Pages</a>

<%- include('headFoot/footer') %>
