<%- include('headFoot/header') %>

<h1> Welcome to WikiRacer! </h1>

<a class="btn btn-info" href="/description">What is WikiRacer?</a>
<a></a>
<a></a>
Button For starting WikiRacer
Button for starting 2Pages


<%- include('headFoot/footer') %>
