<%- include('headFoot/header') %>
<script src="/javascript/sampleArticles.js"></script>

Either put down two links/wikipedia article titles, or press random

<button onclick="getTwoArticles()" class="btn"> Random Two Articles </button>

<%- include('headFoot/footer') %>
