.errorMsg{
  background-color: red;
  color: white
}

.leftLinks {
  left: 0;
  /* background-color: white;
  color: black */
}

/* Control the right side */
.rightLinks {
  right: 0;
  /* background-color: black;
  color: white */
}

.half{
  min-height: 100%;
    /* max-height: 100%; */
  width: 50%;
  position: absolute;
        float:left;
  height: auto;
  text-align: center;
}

.centerBox{
  text-align: center;
  position: fixed;
  top: 40%;
  left: 42%;
  margin-top: -50px;
  margin-left: -100px;
}

.centerInfo{
  text-align: center;
}

.statusBar{
  text-align: center;
}
